<%
function rl(a)
{
  if (a.categories.data.length>0){
    return a.categories.data[0].name;
  }
  return 'fuck';
}
function unique(arr){
  return Array.from(new Set(arr));
}
var categoriesList1 = list_categories({ show_count: false,depth:1, style: ""});
<!--分割字符串-->
var arraylist=[];
arraylist=categoriesList1.split(",");
%>
<div id="pagecontainer" class="container">
  <div id="content">
      <% if (site.categories.length>0) { %>


          <div id="index">
            <h3 class="category-year">Fragment</h3>
            <% site.posts.sort('date',-1).each(pos => {%>  
              <%if(!pos.categories.data.length){%>
                <div class="category basic-posts">  
                  <div class="article">
                    <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                      <header class="post-header">
                        <span class="title"><a itemprop="name" href="<%=url_for(pos.path)%>" title="<%=pos.title%>"><%=pos.title%></a></span>
                        <time class="date" datetime="<%=pos.date.toJSON()%>"><%=date(pos.date,'YYYY-MM-DD')%></time>
                      </header>
                    </article>
                  </div>
                
                </div>
              <%}%>
            <% }); %>
            <%for(var j=0;j<arraylist.length;j++){ %>
              <h3 class="category-year"><%-trim(strip_html(arraylist[j]))%></h3> 
              <% site.posts.each(pos => {%>
                <%if(pos.categories.data.length>0){%>
                  <%if(pos.categories.data[0].name===trim(strip_html(arraylist[j]))){%>
                    <div class="category basic-posts">  
                      <div class="article">
                        <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                          <header class="post-header">
                            <span class="title"><a itemprop="name" href="<%=url_for(pos.path)%>" title="<%=pos.title%>"><%=pos.title%></a></span>
                            <time class="date" datetime="<%=pos.date.toJSON()%>"><%=date(pos.date,'YYYY-MM-DD')%></time>
                          </header>
                        </article>
                      </div>
                    
                    </div>
                  <%}%>
                <%};%>
              <% }); %>
            <%};%>
      
          </div>
        <% } %>
  </div>
</div>
<!-- 思路：
1. 找出所有分类存入一个array中
2. 循环array，没一次循环包含着一个site.post循环
3. 输出 -->