
<%- partial('_partial/head',{cache: true}) %>

<body>

<div class="universal-outer">
  <%- partial('_partial/header',{cache: true}) %>

  <div class="body-outer">
    <div class="body-inner">
      <%- body %>
    </div>
  </div>


  <%- partial('_partial/footer', {cache: true}) %>

</div>



<%- partial('_partial/after-footer', {cache: true}) %>
</body>
</html>
