
<%- partial('_partial/head',{cache: true}) %>

<body>
<%- partial('_partial/header',{cache: true}) %>

<div class="body-outer">
  <div class="body-inner">
    <%- body %>
  </div>
</div>
<% if(is_home()==false){ %>
  <%- partial('_partial/footer',{cache: true}) %>
<% } %>
<%- partial('_partial/after-footer',{cache: true}) %>
</body>
</html>
