<%- partial('_partial/head') %>
<body>
     <%if(is_home()==false){%>
     <%- partial('_partial/header') %>
     <%}%>

<%- body %>

<!-- <%if(is_home() ==false){%>
<%- partial('_partial/footer') %>
<%}%> -->

<%- partial('_partial/after-footer') %>
</body>
</html>
