
<article class="post-inner">
  <div class="post-content-outer">
    <div class="post-intro">
      <div class="post-title animate__animated  animate__fadeInUp"><%=page.title%></div>
      <div class="meta-intro animate__animated  animate__fadeInUp"><%=full_date(page.date,'MMM DD YYYY') %></div>
      <%if(page.cover){%>
        <div class="post-cover"><span class="lazyload-img-span"><img data-src="<%=page.cover%>" class="post-cover-img"></span></div>
      <%}%>
    </div>
    <div class="post-content-inner">
      <div class="post-content-inner-space">

      </div>
      <div class="post-content-main animate__animated  animate__fadeInUp">
        <!-- top型目录 -->
        <%if(page.toc!==false && theme.toc.open === true && toc(page.content).length!==0 && theme.toc.side !== true){%>
          <%- toc(page.content,{class:"toc-top",list_number:false,max_depth: theme.toc.max,min_depth: theme.toc.min}) %>
        <%}%>
        <%-page.content%>
        <!-- 分类文章 -->
        <% if(page.categories.data.length>0){ %>
          <div class="post-categoris-bottom">
            <div class="post-categoris-name"><%=page.categories.data[0].name%></div>
            <ul>
            <% site.posts.sort('date',1).each(pos => {%>
            <%if(pos.categories.data.length>0){%>
              <%if(pos.categories.data[0].name===page.categories.data[0].name){%>
                <li class="<%if(pos.title===page.title){%>me base<%}else{%>base<%}%>">
                  <a  href="<%=url_for(pos.path)%>" class="post-categoris-bottom-link">
                  <%=pos.title%>
                </a>
                </li>
              
              <%}%>
            <%};%>
            <% }); %>
            </ul>

          </div>

        <% } %>
      </div>
      <div class="post-content-inner-space">
        <%if(page.toc!==false && theme.toc.open === true && toc(page.content).length!==0 && theme.toc.side === true){%>
          <div class="space-toc-main animate__animated  animate__fadeInUp">
            <%- toc(page.content,{class:"space-toc",list_number:false,max_depth: theme.toc.max,min_depth: theme.toc.min}) %>
           </div>
        <%}%>
      </div>
   </div>
    <!-- 评论 -->
    <% if (page.comments !== false && theme.comments.open === true){ %>
    <div class="bottom-comments-outer">
      <div class="bottom-comments-inner">
        <!-- valine -->
        <% if ( theme.comments.system ==='valine' && theme.comments.valine && theme.comments.valine.appid && theme.comments.valine.appkey){ %>
          <section id="comments" class="comments" style="margin-top: 150px;">
            <style>
              .comments{background:#fff}
              @media screen and (max-width:900px){.comments{margin:auto;padding:10px;background:#fff}}
            </style>
            <%- partial('post/comment-valine', {
              key: page.slug,
              title: page.title,
              url: config.url+url_for(page.path)
              }) %>
          </section>
        <% } %>
        <!-- Gitalk -->
        <% if ( theme.comments.system ==='gitalk' && theme.comments.gitalk && theme.comments.gitalk.clientID && theme.comments.gitalk.clientSecret ){ %>
          <%- partial('post/comment-gitalk') %>
        <% } %>
        <!-- livere -->
        <% if ( theme.comments.system ==='livere' && theme.comments.livere && theme.comments.livere.dataId && theme.comments.livere.dataUid ){ %>
          <%- partial('post/comment-livere') %>
        <% } %>
        </div>
      </div>
    <% } %>
  </div>
</article>