
<article class="post-inner">
  <div class="post-content-outer">
    <div class="post-content-inner ">
      <%if(page.cover){%><div class="post-intro"><%}else{%><div class="post-intro-no-cover"><%}%>
        <div class="post-title animate__animated  animate__fadeInUp"><%=page.title%></div>
        <div class="meta-intro animate__animated  animate__fadeInUp"><span class="intro-span"><%=date(page.date, 'YYYY年M月D日') %> by <%=theme.intro.author%></span></div>
        <%if(page.cover){%>
          <div class="post-cover animate__animated  animate__fadeInUp"><img src="<%=page.cover%>" class="post-cover-img"></div>
        <%}%>
      </div>
      <div class="post-content-main animate__animated  animate__fadeInUp">
        <!-- 目录 -->
        <%if(page.toc!==false && toc(page.content).length!==0){%>
          <%- toc(page.content,{class:"toc-top",list_number:false,max_depth: theme.toc.max,min_depth: theme.toc.min}) %>
        <%}%>
        <%-page.content%>
        <!-- 分类文章 -->
        <% if(page.categories.data.length>0){ %>
          <div class="post-categoris-bottom">
            <div class="post-categoris-name"><%=page.categories.data[0].name%></div>
            <ul>
            <% site.posts.sort('date',1).each(pos => {%>
            <%if(pos.categories.data.length>0){%>
              <%if(pos.categories.data[0].name===page.categories.data[0].name){%>
                <li class="<%if(pos.title===page.title){%>me base<%}else{%>base<%}%>">
                  <a  href="<%=url_for(pos.path)%>" class="post-categoris-bottom-link">
                  <%=pos.title%>
                </a>
                </li>
              
              <%}%>
            <%};%>
            <% }); %>
            </ul>

          </div>

        <% } %>
        <!-- 评论 -->
        <% if ( theme.comments.valine.open === true && page.comments === true){ %>
          <% if (theme.comments.valine && theme.comments.valine.appid && theme.comments.valine.appkey){ %>
            <section id="comments" class="comments" style="margin-top: 150px;">
              <style>
                .comments{background:#fff}
                @media screen and (max-width:900px){.comments{margin:auto;padding:10px;background:#fff}}
              </style>
              <%- partial('post/comment-valine', {
                key: page.slug,
                title: page.title,
                url: config.url+url_for(page.path)
                }) %>
          </section>
        <% } %>
        <% }else{ %>
         <% if(theme.comments.gitalk.open === true && page.comments === true){ %>
          <% if (theme.comments.gitalk && theme.comments.gitalk.clientID && theme.comments.gitalk.clientSecret ){ %>
          <%- partial('post/comment-gitalk') %>
          <% } %>
         <% } %>
        <% } %>
      </div>
   </div>
  </div>
</article>