
  <header class="pure-menu pure-menu-horizontal nav post-title" id="header">
    <div class="gallery">
      <ul class="pure-menu-list" style="float: left; margin-left:1em;position: absolute;">
        <li class="pure-menu-item pure-menu-active"><a href="/" class="pure-menu-link" id="title-bar-feature-btn">Back</a>
        </li>
      </ul>
    </div>
    <h1><%=page.title%></h1>
    <section class="post-meta">
    <time datetime="<%=page.date.toJSON()%>"><%=date(page.date,'MM月DD日')%></time>
    by
    <span>sorryfu</span>
    </section>
  </header>


  <div id="pagecontainer" class="container">
    <div id="post-content" class="inner-page">
      <%- toc(page.content,{class:"markdown-toc",list_number:false,max_depth: 3,min_depth: 2}) %>
      <%-page.content%>
    </div>
  </div>



