<div id="pagecontainer" class="container">
    <div id="content">
        <% if (site.posts.length > 0) { %>
            <div id="index">
                <% var last;%>
                <% var temp=0;%>
                <% site.posts.sort('date', -1).each(function(post, i){ %>
                  <% var year = post.date.year(); %>
                  <% if (last != year){ %>
                    <% if (last != null){ %>
                    <% } %>
                    <% last = year; %>
                <h3 class="category-year"><%=  year %></h3>
                <% } %>
                <div class="category basic-posts">
               
                  <div class="article">
                    <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                      <header class="post-header">
                        <span class="title"><a itemprop="name" href="<%=url_for(post.path)%>" title="<%=post.title%>"><%=post.title%></a></span>
                        <time class="date" datetime="<%=post.date.toJSON()%>"><%=date(post.date,'MM-DD')%></time>
                      </header>
                    </article>
                  </div>
                
                </div>
            <% }) %>
        
            </div>
          <% } %>
    </div>
</div>