<%
var title = titlecase(page.title);
if (is_archive()){
  title = __('BLOG');   
} else if (is_category()){
  title = __('Page.Categories') + ': ' + page.category;
} else if (is_tag()){
  title = __('Page.Tags') + ': ' + page.tag;
}
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% if (title){ %>  <%= title %> | <% } %>   <%= theme.site_name%></title>
  <!-- 标签页图标 -->
  <%if(theme.icon!=undefined){%>
  <link rel="shortcut icon" href="<%-theme.icon%>" type="image/x-icon">
  <%}%>
  <!-- 图标库 -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <!-- 动画库 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
  <!-- css文件 -->
  <%- css('css/white') %>
  <!-- 代码高亮 -->
  <% if (config.highlight.enable != true) { %>
    <% if (theme.plugins.highlightjs && theme.plugins.highlightjs.css) { %>
      <%- css(theme.plugins.highlightjs.css) %>
    <% } %>
  <% } %>
  <!-- tocbot -->
  <!-- <%if(is_post()===true){%>
    <%- css('css/tocbot.css')%>
  <%}%> -->
  <!-- 声明document.ready函数 -->
  <!-- <script>
      document.ready = function (callback) {
        ///兼容FF,Google
        if (document.addEventListener) {
          document.addEventListener('DOMContentLoaded', function () {
            document.removeEventListener('DOMContentLoaded', arguments.callee, false);
            callback();
          }, false)
        }
        //兼容IE
        else if (document.attachEvent) {
          document.attachEvent('onreadystatechange', function () {
            if (document.readyState == "complete") {
              document.detachEvent("onreadystatechange", arguments.callee);
              callback();
            }
          })
        }
        else if (document.lastChild == document.body) {
          callback();
        }
      }
  </script> -->
</head>
