<%
const categoriesList = list_categories({show_count: false});
%>
<div class="menu-outer">
    <div class="menu-inner">
        <div class="menu-site-name">
            <a href="<%= url_for() %>">
                <%= theme.site_name %>
            </a>
        </div>
        <div class="menu-group">
            <ul class="menu-ul">
                <% Object.keys(theme.menu).forEach(key => { %>
                <a href="<%= url_for(theme.menu[key]) %>" class="nav-link">
                    <li class="menu-li">
                        <%= key %>
                    </li>
                </a>
                <% }); %>
                <li class="menu-li" id="mobile-menu">
                    <i class="ri-menu-line"></i>
                </li>
<!--                <li class="menu-li" id="theme-change-btn">-->
<!--                    默认-->
<!--                </li>-->

            </ul>

        </div>

    </div>
</div>
<!--移动端-->
<div id="mobile-main">
    <div class="mobile-menu-inner">
        <div class="mobile-menu-site-name">
            <a href="<%= url_for() %>">
                <%= theme.site_name %>
            </a>
        </div>
        <div class="mobile-menu-group" id="mobile-close">
            <i class="ri-close-line"></i>
        </div>

    </div>

    <div class="mobile-menu-div">
        <% Object.keys(theme.menu).forEach(key => { %>
        <a href="<%= url_for(theme.menu[key]) %>" class="mobile-nav-link">
            <div class="mobile-menu-child">
                <span><%= key %></span>
            </div>
        </a>
        <% }); %>
    </div>


</div>