<div class="menu-outer">
    <div class="menu-inner">
      <div class="menu-site-name  animate__animated  animate__fadeInUp">
        <a href="<%=url_for()%>">
          <%=theme.site_name%>
        </a>
        
      </div>
      <div class="menu-group">
        <ul class="menu-ul">
        <% Object.keys(theme.menu).forEach(key => { %>
          <a href="<%=url_for(theme.menu[key])%>" class="nav-link">
            <li class="menu-li  animate__animated  animate__fadeInUp">
              <%=key%>
            </li>
          </a>
        <% }); %>
        <% if(theme.search.open===true) { %>
        <a href="<%= url_for(theme.search.page) %>">
          <li class="menu-li  animate__animated  animate__fadeInUp">
            <i class="ri-search-line"></i>
          </li>
        </a>
        <% } %>
        </ul>

      </div>

    </div>
</div>