<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% if (page.title){ %>  <%= page.title %> - <% } %>   <%= theme.site_name%></title>
  <meta name="description" content="<% if(page.description ) { %><%=page.description%><% } else {%><%=theme.site_description%><%}%>">
  <!-- 标签页图标 -->
  <%if(theme.icon!=undefined){%>
  <link rel="shortcut icon" href="<%-theme.icon%>" type="image/x-icon">
  <%}%>

  <!-- 图标库 -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <!-- 动画库 -->
  <% if(false && theme.style.animation.open == true) {%>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fushaolei/cdn-white@1.0/css/animate.css"/>
  <% } %>
  <!-- css文件 -->
  <%- css('css/white') %>

  <!--各种字体-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700;900&family=Roboto+Mono&family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>
