
<%
var pageTitle = page.title ||  '首页';
if (is_archive()) pageTitle = '归类';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' | ' + theme.site_name ;
%>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%=pageTitle%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="<%-theme.icon%>" type="image/x-icon">
  <!-- 图标 -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <%- css('css/white.css','css/pure-min.css','css/syntax.css','css/typora-wiki.css') %>
  <% if (config.highlight.enable != true) { %>
    <% if (theme.plugins.highlightjs && theme.plugins.highlightjs.css) { %>
      <%- css(theme.plugins.highlightjs.css) %>
    <% } %>
  <% } %>
  <%if(is_post()===true||is_page()===true){%>
    <%- css('css/post') %>
  <%}%>
</head>