<section class="archive-outer">
    <section class="archive-inner">
        <% var last; %>
        <% page.posts.sort('date', -1).limit(10).each(function(post, i) { %>
        <% var year = post.date.year(); %>
        <% if (last != year){ %>
            <% if (last != null){ %>
            <% } %>
            <% last = year; %>
        <div class="archive-name <%if(theme.style.animation.open==true){%>animate__animated  animate__fadeInUp<% } %>"><%=  year %></div>
        <% } %>
          <a  href="<%=url_for(post.path)%>">
          <div class="archive-post <%if(theme.style.animation.open==true){%>animate__animated  animate__fadeInUp<% } %>">
            <div class="archive-post-title"><%=post.title%></div>
            <div class="archive-post-date"><%=date(post.date,'MM-DD') %></div>
            <!-- <%=full_date(post.date,'MMM D') %> -->
          </div>
          </a>
        <% }) %>
        <% if (page.total > 1){ %>
          <nav class="paginator animate__animated  animate__fadeInUp">
            <%- paginator({
              prev_text: theme.pagination.prev,
              next_text: theme.pagination.next
            }) %>
          </nav>
        <% } %>
    </section>
</section>
