
<% if (page.posts.length > 0) { %>
  <div id="index">
    <h3>NEW</h3>
    <ul class="category basic-posts">
       <% page.posts.sort('date', -1).limit(10).each(post => { %>      
      <li>
        <div class="article">
          <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
              <span class="title"><a itemprop="name" href="<%=url_for(post.path)%>" title="<%=post.title%>"><%=post.title%></a></span>
              <time class="date" datetime="<%=post.date.toJSON()%>"><%=date(post.date,'MM-DD')%></time>
            </header>
          </article>
        </div>
      </li>
    <% }); %>
    </ul>
    <h3>CATEGORY</h3>
    <ul class="category basic-posts">
        <% site.categories.limit(10).each(cate => { %>
          <li>
            <div class="article">
              <article class="article" >
                <header class="post-header">
                  <span class="title"><a  href="<%=cate.path%>"><%=cate.name%></a></span>
                  <time class="date"><%=cate.posts.length%></time>
                </header>
              </article>
            </div>
          </li>
        <% }); %>  
    </ul>
    <h3>TAGS</h3>
    <ul class="category basic-posts">
        <% site.tags.limit(10).each(ta => { %>
          <li>
            <div class="article">
              <article class="article" >
                <header class="post-header">
                  <span class="title"><a  href="<%=ta.path%>"><%=ta.name%></a></span>
                  <time class="date"><%=ta.posts.length%></time>
                </header>
              </article>
            </div>
          </li>
        <% }); %>  
    </ul>
    <h3>CONTACT</h3>
    <ul class="category basic-posts">
        <% Object.keys(theme.contact).forEach(key => { %>
          <li>
            <div class="article">
              <article class="article" >
                <header class="post-header">
                  <span class="title"><%=key%></span>
                  <time class="date"><%= theme.contact[key]%></time>
                </header>
              </article>
            </div>
          </li>
        <% }); %>  
    </ul>
    <h3>LINK</h3>
    <ul class="category basic-posts">
        <% Object.keys(theme.link).forEach(key => { %>
          <li>
            <div class="article">
              <article class="article" >
                <header class="post-header">
                  <span class="title"><a  href="<%=theme.link[key]%>"><%=key%></a></span>
                  <time class="date"><%= theme.link[key]%></time>
                </header>
              </article>
            </div>
          </li>
        <% }); %>  
    </ul>
  </div>
<% } %>
